#python==3.10.5 # versión de Python
pyodbc==4.0.32  # para conexión a DB SQL
mysql-connector-python==8.0.29 # para conexión a DB MYSQL
cx-Oracle==8.3.0 # para conexión a DB ORACLE
pysftp==0.2.9 # para conexión a servidor SFTP
pylint==2.14.3 # para analizar el código
pyinstaller==5.1 # para realizar el .exe
pathlib==1.0.1 # para manipular rutas del sistema de archivos
cryptocode==0.1 # para desencriptar

